.about-container{
    display: flex;
    align-items: center;
    height: 100vh;
    /* background-color: #ECF2FF; */
    background-color: #F5EAEA;
}
  .about-container__text {
    font-family: 'Limelight', cursive;
  }

  .about-container__text__title{
    padding-bottom: 1.5rem;
  }

