.contact-container{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.contact-container__form{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    .form-container {
      order: 2;
    }
  }
  