html {
    scroll-behavior: smooth;
  }

.hero-container {
    flex-grow: 1;
    height: 100vh;
    background-image: url("../../assets/HeroBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.hero-container__text__container{
    text-align: center;
    padding-top: 40vh;
}

.hero-container__nav-top-left{
    color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-decoration: none;
}
.hero-container__nav-top-left a {
    text-decoration: none;
    color: white;
}
.hero-container__nav-top-right a {
    text-decoration: none;
    color: white;
}
.hero-container__nav-bottom-left a {
    text-decoration: none;
    color: white;
}
.hero-container__nav-bottom-right a {
    text-decoration: none;
    color: white;
}
.hero-container__nav-top-left a:hover {
    color: #FF5F1F;
    
}
.hero-container__nav-top-right a:hover {
    color: #FF5F1F;
}
.hero-container__nav-bottom-left a:hover {
    color: #FF5F1F;
}
.hero-container__nav-bottom-right a:hover {
    color: #FF5F1F;
}
.hero-container__nav-top-right{
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-decoration: none;
}

.hero-container__nav-bottom-left{
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    text-decoration: none;
}
.hero-container__nav-bottom-right{
    color: white;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
}


