.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F5EAEA;
}
.project-description {
  text-align: center;
  max-width: 80%;
  overflow-wrap: break-word;
}
